<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }} - {{ site.title }}</title>
  </head>
  <body>
    {{ content }}
    
    {% if page.layout == "post" %}
      <hr />
      <script src="https://giscus.app/client.js"
        data-repo="IJEMIN/ijemin-comments"
        data-repo-id="R_kgDOQvJ1MA"
        data-category="General"
        data-category-id="DIC_kwDOQvJ1MM4C0QYb"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="bottom"
        data-theme="preferred_color_scheme"
        data-lang="ko"
        crossorigin="anonymous"
        async>
      </script>
    {% endif %}
    
  </body>
</html>